body {
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    background-image: url(images/corndog-tile-1.png), url(images/corndog-tile.png), url(images/corndog-tile-2.png);
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-animation: ruch 1000s linear infinite;
    -moz-animation: ruch 1000s linear infinite;
    -ms-animation: ruch 1000s linear infinite;
    animation: ruch 1000s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.wynik1, .wynik2, .Miasto, .IP, .Pogoda{
    font-size:x-large;
}
.fill {
    min-height: 200px;
}

.col-sm-6 {
    padding-bottom: 25px ;
}

.glowa {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.8);
}

.row {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.8);
}

.btn-primary {
    background-color: rgb(15, 175, 228) !important;
    border-color: black;
}

.btn-primary:hover {
    background-color: rgb(29, 223, 49) !important;
    border-color: black;
}

.bg-topka {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: medium;
    text-align: left;
    font-size: larger;
}

.text {
    font-style: Sans-serif;
    text-align: center;
    margin-top: 25px;
}

.stopka {
    position: relative ;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    bottom: 0;
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

/* animacja */
@keyframes ruch {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-moz-keyframes ruch {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-webkit-keyframes ruch {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-ms-keyframes ruch {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}